images_capture/
image_stacking/macbook_grab
image_stacking/macbook_grab_BayerRG12
image_stacking/macbook_grab4
image_stacking/macbook_grab5
image_stacking/macbook_grab6
image_stacking/plastic_tubes_set01
image_stacking/plastic_tubes_set02
image_stacking/Stackbook.png
image_stacking/Stackbook_12bit.png
nn/minecraft
nn/split_weather_dataset
nn/weather_dataset
nn/deck_of_cards
nn/clustering_logs_old
nn/clustering_map_test
nn/MDEC/logs